<nav>
    <a class="logo-container" href="{{ url('home') }}">
        <img class="logo" src="{{ asset('build/images/jardiland.jpg') }}" alt="Jardiland logo">
    </a>
    <ul>
        <li><a href="{{ url('home') }}">Accueil</a></li>
        <li><a href="{{ url('app_product_index') }}">Produits</a></li>
        <li><a href="{{ url('app_category_index') }}">Catégories</a></li>
        <li><a href="{{ url('admin') }}">Admin</a></li>
    </ul>
</nav>
